<div class="container">
  <app-page-title [title]="'Employees Management'"></app-page-title>
  <div class="card-container">
    <div class="card">
      <div class="card-header">
        <div class="table-title">
          <h3>{{status}}</h3>
          <app-circular-loading
            style="padding-inline: 20px"
            *ngIf="loading"
          ></app-circular-loading>
        </div>

        <h4 *ngIf="message">{{ message }}</h4>
        <button
          class="filled-btn"
          *ngIf="!formOnDisplay && !waitingResponse"
          (click)="switchFormOnDisplay('Add Employee')"
        >
          ADD
        </button>
        <app-circular-loading
          style="padding-inline: 20px"
          *ngIf="waitingResponse"
        ></app-circular-loading>
      </div>
      <form>
        <table>
          <thead>
            <tr>
              <th>Full Name</th>
              <th>Department</th>
              <th>Email</th>
              <th>Address</th>
            </tr>
          </thead>
          <tbody *ngIf="employees">
            <tr *ngIf="formOnDisplay == true">
              <td>
                <div class="input-error-container">
                  <input
                    [value]="fullName"
                    placeholder="Full Name"
                    (change)="handleFullNameChange($event)"
                  />
                  <span class="error" *ngIf="fullNameError">{{
                    fullNameError
                  }}</span>
                </div>
              </td>
              <td>
                <div class="input-error-container">
                  <select
                    placeholder="Department"
                    [value]="department"
                    (change)="handleDepartmentChange($event)"
                  >
                    <option>IT</option>
                    <option>SALES</option>
                    <option>HR</option>
                  </select>
                </div>
              </td>
              <td>
                <div class="input-error-container">
                  <input
                    [value]="email"
                    placeholder="Email"
                    (change)="handleEmailChange($event)"
                  />
                  <span class="error" *ngIf="emailError">{{ emailError }}</span>
                </div>
              </td>
              <td>
                <div class="input-error-container">
                  <textarea
                    [value]="address"
                    placeholder="Address"
                    (change)="handleAddressChange($event)"
                  ></textarea>
                  <span class="error" *ngIf="addressError">{{
                    addressError
                  }}</span>
                </div>
              </td>
              <td class="add-cancel-btn-container">
                <button
                  type="submit"
                  class="filled-btn"
                  (click)="handleConfirm($event)"
                >
                  CONFIRM
                </button>
                <button
                  class="filled-btn"
                  (click)="switchFormOnDisplay('Employees')"
                  style="background-color: red"
                >
                  CANCEL
                </button>
              </td>
            </tr>

            <tr *ngFor="let e of employees">
              <td>{{ e.fullName }}</td>
              <td>{{ e.department }}</td>
              <td>{{ e.email }}</td>
              <td>{{ e.address }}</td>
              <td *ngIf="!formOnDisplay"><button class="text-btn" [value]="e.id" (click)="updateHandler($event,e)" >UPDATE</button> </td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  </div>
</div>
