.card {
    background-color: #ffffff;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  .card-title {
    color: #023D26;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }

    .card-content {
        font-size: 11px;
        font-weight: 500;
        color: #878787;
  }
  

  @media (max-width: 600px){
    .card{
        padding:10px;
    }
    .card-title{
        font-size: 15px;
    }
    .card-content{
        font-size: 8px;
    }
  }
  
