.page-title{
    color: #023D26;
    text-align: center;
    width: 100%;
}




.card-container{
    background-color: #fff; /* White background color */
    border: 0.5px solid #E6E6E6;
    border-radius: 8px; /* Rounded corners */
    /* Adjust padding as needed */
  }

.card{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.card h3{
    color: #023D26;
    margin: 0px;
    padding: 20px;
}

.card-header{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.filled-btn{
   margin-right: 20px;
   padding-inline: 20px;
   background-color: #023D26;
   color: white;
   font-family: inherit;
   font-size: 11px;
   font-weight: 200;
   border-radius: 5px;
   cursor: pointer;
}

.filled-btn:hover{
    opacity: 0.8;
}

.text-btn{
    border: none;
    background-color: transparent;
    text-align: end;
    margin-right: 20px;
    background-color: transparent;
    color: #023D26;
    font-family: inherit;
    font-size: 11px;
    font-weight: 500;
    text-decoration: underline;
    cursor: pointer;
 }
 
 .text-btn:hover{
     opacity: 0.8;
 }

 .text-btn a{
    color:#023D26;
 }

table{
    width: 100%;
    padding: 18px;
}

.table-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

form{
    width: 100%;
}

th{
    text-align: left;
    font-weight: 500;
}

td{
    text-align: left;
    font-weight: 500;
    font-size: 12px;
    color: #717171;
    border-top: 0.5px solid #E6E6E6;
    padding-top: 10px;
    padding-bottom: 10px;
}

.input-error-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}


input{
    width: 90%;
    font-size: 12px;
    font-family: inherit;
}

textarea{
    font-size: 12px;
    font-family: inherit;
}

.add-cancel-btn-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.add-cancel-btn-container .filled-btn{
    text-align: center;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 0px;
    padding-inline: 0px;
    width: 100%;
}

.error{
    color: red;
    font-size: 12px;
}

@media (max-width: 600px){
    th{
        font-size: 10px;
    }
    td{
        font-size: 6px;
    }
    .text-btn{
        font-size: 7px;
    }
    .filled-btn{
        font-size: 6px;
        padding-inline: 10px;
    }
    input{
        font-size: 7px;
    }
    select{
        font-size: 8px;
    }
    textarea{
        font-size: 8px;
    }
    .card h3{
        font-size: 14px;
    }
    .error{
        font-size: 4px;
    }
    
}
